body {
	margin: 0;
}

.opening {
	text-align: center;
}

.opening h1 {
	color: rgb(6, 37, 84, 0.9); 
	font-size: 85px
}

.opening p {
	font-family: fantasy; 
	font-size: 30px;
	padding-bottom: 70px;
}

.opening h2 {
	font-size: 30px; 
	padding-top: 40px;
	padding-bottom: 70px;
}

.dog-1 {
	text-align: center;
}

.dog-1 h1 {
	margin-top: 70px; 
	font-size: 48px; 
	color: rgb(56, 70, 31);
}

.dog-1 h3 {
	margin-top: 70px; 
	font-size: 40px;
}

.dog-1 h3 mark {
	background-color:aquamarine;
}

.dog-1 p {
	font-size: 30px;
}

.dog-1 a {
	color: rgb(27, 26, 26);
	font-size: 30px;
	text-decoration: none;
}

.dog-1 button:hover {
	background-color: rgb(229, 226, 226);
}





.dog-2 {
	text-align: center;
	padding-top: 200px;
}

.dog-2 h1 {
	margin-top: 70px; 
	font-size: 48px; 
	color: rgb(31, 54, 70);
}

.dog-2 p {
	padding: 30px;
	font-size: 30px;
}

.dog-2 h3 {
	margin-top: 40px; 
	font-size: 40px;
}

.dog-2 span {
	color:cadetblue;
}

.dog-2 mark {
	background-color:aquamarine;
}

.dog-2 pre strong {
	padding: 70px;
	font-size: 30px;
}

.dog-2 pre {
	font-size: 20px;
	padding-top: 45px;
	padding-bottom: 80px;
}

.dog-2 a {
	color: rgb(27, 26, 26);
	font-size: 30px;
	text-decoration: none;
}

.dog-2 button:hover {
	background-color: rgb(211, 208, 208);
}




table, tr, th, td {
	border: 2px solid black;
	border-collapse:collapse;
}

tr:hover {
	background-color:rgb(240, 229, 216);
}

td a:hover {
	color:cadetblue;
}
